<pokeoneweb-page-header [title]="itemResource.isLoading() ? resourceName() : item().name" />

<div id="content_main_container">
    @if (itemResource.isLoading()) {
        <div>Loading...</div>
    } @else if (itemResource.error()) {
        <div>An error occurred: {{ itemResource.error()?.message }}</div>
    } @else {
        <div>
            <div class="item-detail-navigation">
                <a [routerLink]="'/items'">
                    <div class="item-detail-navigation-center">
                        <div class="item-detail-navigation-sprite">
                            <img src="./assets/img/navbar/items.png" />
                        </div>
                        <div class="item-detail-navigation-link">Item List</div>
                        <div class="item-detail-navigation-sprite">
                            <img src="./assets/img/navbar/items.png" />
                        </div>
                    </div>
                </a>
            </div>

            <h2 name="general">General Info</h2>
            <div class="no-table-container-outer">
                <div class="no-table-container-inner item-general-info">
                    <div class="item-general-info-header">
                        <div class="item-sprite">
                            @if (item().spriteName) {
                                <img
                                    [src]="'./assets/img/sprites/items/small/' + item().spriteName"
                                />
                            }
                        </div>
                        <div class="item-name">
                            <h4>{{ item().name }}</h4>
                        </div>
                    </div>

                    <table id="item_general_info_table">
                        <tbody>
                            <tr class="item-general-info-availability">
                                <td>Availability</td>
                                <td class="item-availability">
                                    <div class="item-availability-inner">
                                        @switch (item().availability) {
                                            @case ('Obtainable') {
                                                <div
                                                    class="availability-icon availability-obtainable"
                                                >
                                                    <i class="material-icons md-24">check</i>
                                                </div>
                                                Obtainable
                                                <span class="availability-description">
                                                    {{ item().availabilityDescription }}
                                                </span>
                                            }
                                            @case ('Unobtainable') {
                                                <div
                                                    class="availability-icon availability-unobtainable"
                                                >
                                                    <i class="material-icons md-24">clear</i>
                                                </div>
                                                Unobtainable
                                                <span class="availability-description">
                                                    {{ item().availabilityDescription }}
                                                </span>
                                            }
                                            @case ('Event-exclusive') {
                                                <div class="availability-icon availability-event">
                                                    <i class="material-icons md-24">grade</i>
                                                </div>
                                                Event-exclusive
                                                <span class="availability-description">
                                                    {{ item().availabilityDescription }}
                                                </span>
                                            }
                                            @case ('Removed') {
                                                <div class="availability-icon availability-removed">
                                                    <i class="material-icons md-24"
                                                        >delete_forever</i
                                                    >
                                                </div>
                                                Removed
                                                <span class="availability-description">
                                                    {{ item().availabilityDescription }}
                                                </span>
                                            }
                                        }
                                    </div>
                                </td>
                            </tr>
                            <tr class="item-general-info-description">
                                <td>Description</td>
                                <td>{{ item().description }}</td>
                            </tr>
                            <tr class="item-general-info-effect">
                                <td>Effect</td>
                                <td>{{ item().effect }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <h2 name="locations">Locations</h2>

            @if (item().placedItems.length === 0) {
                <div class="no-table-container-outer">
                    <div class="no-table-container-inner">
                        <p class="empty">This item can not be obtained in PokéOne.</p>
                    </div>
                </div>
            } @else {
                <pokeoneweb-placed-item-list [placedItems]="item().placedItems" />
            }
        </div>
    }
</div>
