<div class="navbar-item">
    <div class="navbar-item-image-container">
        <img [src]="menuItemImage" />
    </div>
    <div class="navbar-item-caption">
        {{menuItemCaption}}
        <div *ngIf="subMenuItems.length > 0" class="navbar-submenu-caption">
            >
        </div>
    </div>
    <div *ngIf="subMenuItems.length > 0" class="navbar-submenu">
        <div *ngFor="let subMenuItem of subMenuItems" class="navbar-submenu-item navbar-submenu-item-regular">
            {{subMenuItem}}
            <div class="submenu-item-hover-overlay"></div>
        </div>
    </div> 
    <div class="hover-overlay"></div>
</div>