<div class="navbar-item">
    <a [routerLink]="[menuItemLink]">
        <div class="navbar-item-image-container">
            <img [src]="menuItemImage" />
        </div>
        <div class="navbar-item-caption">
            {{menuItemCaption}}
            <div *ngIf="subMenuItems.length > 0" class="navbar-submenu-caption">></div>
        </div>
        <div *ngIf="subMenuItems.length > 0" class="navbar-submenu">
            <div 
                *ngFor="let subMenuItem of subMenuItems" 
                class="navbar-submenu-item"
                [class]="subMenuItem.isEventRegion ? 'navbar-submenu-item-event' : 'navbar-submenu-item-regular'">
                <a [routerLink]="[subMenuItem.link]">
                    <div class="navbar-submenu-item-caption">
                        {{subMenuItem.caption}}
                    </div>
                    <div class="submenu-item-hover-overlay"></div>
                </a>
            </div>
        </div>
        <div class="hover-overlay"></div>
    </a>
</div>
