<div id="content_title_container">
    <div id="content_title">{{model.item ? model.item.name : model.itemName}}</div>
</div>

<div id="content_main_container">
    <div *ngIf="!model.item">Loading...</div>

    <div *ngIf="model.item">
        <div class="item-detail-navigation">
            <a [routerLink]="'/i'">
                <div class="item-detail-navigation-center">
                    <div class="item-detail-navigation-sprite">
                        <img src="./assets/img/navbar/items.png" />
                    </div>
                    <div class="item-detail-navigation-link">Item List</div>
                    <div class="item-detail-navigation-sprite">
                        <img src="./assets/img/navbar/items.png" />
                    </div>
                </div>
            </a>
        </div>

        <h2 name="general">General Info</h2>
        <div class="no-table-container-outer">
            <div class="no-table-container-inner item-general-info">
                <div class="item-general-info-header">
                    <div class="item-sprite">
                        <img
                            *ngIf="model.item.spriteName"
                            [src]="'./assets/img/sprites/items/small/' + model.item.spriteName"
                        />
                    </div>
                    <div class="item-name">
                        <h4>{{model.item.name}}</h4>
                    </div>
                </div>

                <table id="item_general_info_table">
                    <tbody>
                        <tr class="item-general-info-availability">
                            <td>Availability</td>
                            <td class="item-availability">
                                <div [ngClass]="getAvailabilityClass(model.item.isAvailable)" class="availability-icon">
                                    <i *ngIf="model.item.isAvailable" class="material-icons md-24">check</i>
                                    <i *ngIf="!model.item.isAvailable" class="material-icons md-24">clear</i>
                                </div>
                                <div *ngIf="model.item.isAvailable" class="availability-name">Obtainable</div>
                                <div *ngIf="!model.item.isAvailable" class="availability-name">Unobtainable</div>
                            </td>
                        </tr>
                        <tr class="item-general-info-description">
                            <td>Description</td>
                            <td>{{model.item.description}}</td>
                        </tr>
                        <tr class="item-general-info-effect">
                            <td>Effect</td>
                            <td>{{model.item.effect}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h2 name="locations">Locations</h2>
        <app-placed-item-list [item]="model.item"></app-placed-item-list>
    </div>
</div>
