<pokeone-page-header title="Home"></pokeone-page-header>

<div id="content_main_container">
    <div class="button-container">
        <div class="home-welcomecontainer">
            <h1>Welcome to the Unofficial PokéOne Guide!</h1>
        </div>
        <div class="home-navigationcontainer">
            <div class="button-container">
                <app-glass-button
                    buttonTitle="Region overview"
                    buttonImage="./assets/img/navbar/locations.png"
                    linkDestination="/l"
                ></app-glass-button>
            </div>
            <div class="button-container">
                <app-glass-button
                    buttonTitle="Pokédex"
                    buttonImage="./assets/img/navbar/pokedex.png"
                    linkDestination="/p"
                ></app-glass-button>
            </div>
            <div class="button-container">
                <app-glass-button
                    buttonTitle="Itemdex"
                    buttonImage="./assets/img/navbar/items.png"
                    linkDestination="/i"
                ></app-glass-button>
            </div>
            <div class="button-container">
                <app-glass-button
                    buttonTitle="Guide overview"
                    buttonImage="./assets/img/navbar/guides.png"
                    linkDestination="/g"
                ></app-glass-button>
            </div>
            <div class="button-container">
                <app-glass-button
                    buttonTitle="FAQ"
                    buttonImage="./assets/img/navbar/faq.png"
                    linkDestination="/faq"
                ></app-glass-button>
            </div>
        </div>
    </div>
</div>
