<div id="content_title_container">
    <div id="content_title">Home</div>
</div>

<div id="content_main_container">
    <div>
        <div class="home-welcomecontainer">
            <h1 >Welcome to the Unofficial PokéOne Guide!</h1>
        </div>
        <div class="home-searchcontainer">
            <input id="globalSearch" type="text" placeholder="Search PokeOneWeb">
        </div>
        <div class="home-navigationcontainer">
            <table>
                <tr>
                    <td>
                        <app-glass-button buttonTitle="Pokédex" buttonImage="./assets/img/navbar/pokedex.png" linkDestination="/p"></app-glass-button>
                    </td>
                    <td>
                        <app-glass-button buttonTitle="Itemdex" buttonImage="./assets/img/navbar/items.png" linkDestination="/i"></app-glass-button>
                    </td>
                    <th>
                        <app-glass-button buttonTitle="Region overview" buttonImage="./assets/img/navbar/locations.png" linkDestination="/l"></app-glass-button>
                    </th>
                    <th>
                        <app-glass-button buttonTitle="Guide overview" buttonImage="./assets/img/navbar/guides.png" linkDestination="/g"></app-glass-button>
                    </th>
                    <th>
                        <app-glass-button buttonTitle="FAQ" buttonImage="./assets/img/navbar/faq.png" linkDestination="/faq"></app-glass-button>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>
