<div id="header_container">
    <div id="header_banner_container">
        <pokeone-app-version></pokeone-app-version>
    </div>
    <div id="header">
        <div class="tb1">
            <div class="tb2">
                <div class="tb3">
                    <div id="header_inner">
                        <a href="#">
                            <div id="title">
                                Unofficial <span class="title-poke">Poké</span><span class="title-one">One</span> Guide
                            </div>
                        </a>
                        <pokeone-navbar></pokeone-navbar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content_container">
    <div id="content">
        <div class="tb1 clip-edges">
            <div class="tb2 clip-edges">
                <div class="tb3 clip-edges">
                    <div id="content_inner" class="clip-edges">
                        <div id="content_bg_gradient"></div>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<pokeone-scroll-to-top></pokeone-scroll-to-top>
