#content_title_container {
    --title-height: calc(var(--content-title-height) * (2 / 3));
    height: var(--title-height);
    width: 100%;

    padding-top: calc((var(--content-title-height) - var(--title-height)) / 2);
    padding-bottom: calc((var(--content-title-height) - var(--title-height)) / 2);

    box-sizing: content-box;
}

#content_title {
    height: var(--title-height);
    background-color: rgba($color: white, $alpha: 0.3);
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Comfortaa', cursive;
    color: #d04729;
    text-align: center;
    font-weight: 700;
    text-shadow: 2px 2px black;
}

#content_title.page-title-large {
    font-size: 4em;
}

#content_title.page-title-small {
    padding-left: 160px;
    padding-right: 160px;
    font-size: 2.8em;
}
