<div id="navbar">
    <div id="navbar-item-container">
        <pokeone-navbar-item
            menuItemCaption="Locations"
            menuItemLink="/l"
            menuItemImage="./assets/img/navbar/locations.png"
            [subMenuItems]="['Kanto', 'Johto', 'Unova', 'Sevii Islands']"
        >
        </pokeone-navbar-item>

        <pokeone-navbar-item
            menuItemCaption="Pokédex"
            menuItemLink="/p"
            menuItemImage="./assets/img/navbar/pokedex.png"
        >
        </pokeone-navbar-item>

        <pokeone-navbar-item menuItemCaption="Items" menuItemLink="/i" menuItemImage="./assets/img/navbar/items.png">
        </pokeone-navbar-item>

        <pokeone-navbar-item menuItemCaption="Guides" menuItemLink="/g" menuItemImage="./assets/img/navbar/guides.png">
        </pokeone-navbar-item>

        <pokeone-navbar-item menuItemCaption="FAQ" menuItemLink="/faq" menuItemImage="./assets/img/navbar/faq.png">
        </pokeone-navbar-item>

        <pokeone-navbar-item
            menuItemCaption="About"
            menuItemLink="/about"
            menuItemImage="./assets/img/navbar/about.png"
        >
        </pokeone-navbar-item>
    </div>
</div>
