<div id="navbar">
    <div id="navbar-item-container">
        <pokeone-navbar-item 
            menuItemCaption="Locations"
            menuItemImage="./assets/img/navbar/locations.png"
            [subMenuItems]="['Kanto', 'Johto', 'Unova', 'Sevii Islands']">
        </pokeone-navbar-item>

        <pokeone-navbar-item 
            menuItemCaption="Pokédex"
            menuItemImage="./assets/img/navbar/pokedex.png">
        </pokeone-navbar-item>

        <pokeone-navbar-item 
            menuItemCaption="Items"
            menuItemImage="./assets/img/navbar/items.png">
        </pokeone-navbar-item>

        <pokeone-navbar-item 
            menuItemCaption="Moves"
            menuItemImage="./assets/img/navbar/moves.png">
        </pokeone-navbar-item>

        <pokeone-navbar-item 
            menuItemCaption="FAQ"
            menuItemImage="./assets/img/navbar/faq.png">
        </pokeone-navbar-item>

        <pokeone-navbar-item 
            menuItemCaption="About"
            menuItemImage="./assets/img/navbar/about.png">
        </pokeone-navbar-item>
    </div>
</div>
