[Unit]
Description=PokeOneWeb.DataSync

[Service]
WorkingDirectory=/opt/PokeOneWeb.DataSync
ExecStart=/bin/bash /etc/PokeOneWeb.DataSync/datasync.sh
RemainAfterExit=true
Type=oneshot
SyslogIdentifier=p1datasync
User=ubuntu
Group=ubuntu
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=multi-user.target
