body {
    --dark-gray: #262626;
    --medium-dark-gray: #353535;
    --medium-gray: #434343;
    --medium-gray-lighter: #5D5D5D;
    --medium-light-gray-darker: #707070;
    --medium-light-gray: #A6A6A6;
    --light-gray: #DCDCDC;

    --text-accent: #D04729;

    --availability-obtainable: #66BB6A;
    --availability-unobtainable: #EF5350;
    --availability-event: #AB47BC;
    --availability-removed: #FFA726;

    --stat-attack: #F5AC78;
    --stat-special-attack: #9DB7F5;
    --stat-defense: #FAE078;
    --stat-special-defense: #A7DB8D;
    --stat-speed: #FA92B2;
    --stat-hp: #FF5959;

    --type-normal: #A8A77A;
    --type-fire: #EE8130;
    --type-water: #6390F0;
    --type-electric: #F7D02C;
    --type-grass: #7AC74C;
    --type-ice: #96D9D6;
    --type-fighting: #C22E28;
    --type-poison: #A33EA1;
    --type-ground: #E2BF65;
    --type-flying: #A98FF3;
    --type-psychic: #F95587;
    --type-bug: #A6B91A;
    --type-rock: #B6A136;
    --type-ghost: #735797;
    --type-dragon: #6F35FC;
    --type-dark: #705746;
    --type-steel: #B7B7CE;
    --type-fairy: #D685AD;

    --type-physical: #FF4400;
    --type-special: #2266CC;
    --type-status: #999999;

    --effectivity-4: #aa0000;
    --effectivity-2: #ff2c2c;
    --effectivity-1: #DCDCDC;
    --effectivity-05: #00aa00;
    --effectivity-025: #006b00;
    --effectivity-0: #262626;
}

.availability-obtainable {
    background-color: var(--availability-obtainable) !important;
}

.availability-unobtainable {
    background-color: var(--availability-unobtainable) !important;
}

.availability-event {
    background-color: var(--availability-event) !important;
}

.availability-removed {
    background-color: var(--availability-removed) !important;
}

.stat-attack {
    background-color: var(--stat-attack) !important;
}

.stat-special-attack {
    background-color: var(--stat-special-attack) !important;
}

.stat-defense {
    background-color: var(--stat-defense) !important;
}

.stat-special-defense {
    background-color: var(--stat-special-defense) !important;
}

.stat-speed {
    background-color: var(--stat-speed) !important;
}

.stat-hp {
    background-color: var(--stat-hp) !important;
}

.stat-total {
    background-color: var(--light-gray) !important;
}

.type-normal {
    background-color: var(--type-normal);
}

.type-fire {
    background-color: var(--type-fire);
}

.type-water {
    background-color: var(--type-water);
}

.type-electric {
    background-color: var(--type-electric);
}

.type-grass {
    background-color: var(--type-grass);
}

.type-ice {
    background-color: var(--type-ice);
}

.type-fighting {
    background-color: var(--type-fighting);
}

.type-poison {
    background-color: var(--type-poison);
}

.type-ground {
    background-color: var(--type-ground);
}

.type-flying {
    background-color: var(--type-flying);
}

.type-psychic {
    background-color: var(--type-psychic);
}

.type-bug {
    background-color: var(--type-bug);
}

.type-rock {
    background-color: var(--type-rock);
}

.type-ghost {
    background-color: var(--type-ghost);
}

.type-dragon {
    background-color: var(--type-dragon);
}

.type-dark {
    background-color: var(--dark-gray);
}

.type-steel {
    background-color: var(--type-steel);
}

.type-fairy {
    background-color: var(--type-fairy);
}

.type-physical {
    background-color: var(--type-physical);
}

.type-special {
    background-color: var(--type-special);
}

.type-status {
    background-color: var(--type-status);
}