<pokeone-page-header [title]="model.locationModels.length > 0 ? model.locationModels[0].regionName : model.regionName">
</pokeone-page-header>

<div id="content_main_container">
    <table
        class="main-table search-table"
        id="search_table"
        aria-describedby="Filter capabilities for location list page."
    >
        <thead>
            <tr>
                <th colspan="2">Search and filter</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Search</td>
                <td>
                    <div>
                        <input
                            [(ngModel)]="model.filter.searchTerm"
                            (input)="onFilterChangedDelayed()"
                            id="input_search"
                            class="inline text-input"
                            type="text"
                        />
                    </div>
                    <div>
                        <span class="search-option-explanation"> Search for Location name</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <p *ngIf="model.displayedLocationModels.length > 0" class="location-list-title">
        Showing {{model.displayedLocationModels.length}} of {{model.locationModels.length}} Locations
    </p>

    <div *ngIf="model.displayedLocationModels.length > 0">
        <table
            class="main-table sortable rows-clickable"
            id="location_list"
            aria-describedby="Location list for specific region after applying filters."
        >
            <thead>
                <tr>
                    <th class="col-name">
                        <div
                            [ngClass]="getSortButtonClass(column.Name, 1)"
                            (click)="sort(column.Name, 1)"
                            class="table-header-sort"
                        >
                            ⮝
                        </div>
                        <div class="table-header-label">Name</div>
                        <div
                            [ngClass]="getSortButtonClass(column.Name, -1)"
                            (click)="sort(column.Name, -1)"
                            class="table-header-sort"
                        >
                            ⮟
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody #container>
                <tr
                    *ngFor="let location of model.displayedLocationModels; trackBy: trackById"
                    (click)="navigateToDetailPage(location.resourceName);"
                >
                    <td class="col-name">{{location.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <p *ngIf="model.displayedLocationModels.length === 0" class="location-list-empty">
        No Locations to display. Try to adjust your search criteria.
    </p>
</div>
