p {
    color: var(--light-gray);
    text-shadow: 1px 1px black;
}

img {
    border: 1px solid black;
}

img:hover {
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
    transform: translate(-2px, -2px);
}
