<div id="content_title_container">
    <div id="content_title">Guides</div>
</div>

<div id="content_main_container">
    <p>Guides on this site are <b>coming soon</b>. In the meantime check out the following links for guides collected in a spreadsheet:</p>
    <ul>
        <li><a href="https://docs.google.com/spreadsheets/d/1ptgBvTzxvzNisK1Sh7dW12IWEotlBpkpi-9TgEC3GuA/edit#gid=19364968" target="_blank">Boss Loot List</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/1ptgBvTzxvzNisK1Sh7dW12IWEotlBpkpi-9TgEC3GuA/edit#gid=1938711818" target="_blank">Daily Quest List</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/1ptgBvTzxvzNisK1Sh7dW12IWEotlBpkpi-9TgEC3GuA/edit#gid=1978386509" target="_blank">Fast Pokémon Experience</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/1ptgBvTzxvzNisK1Sh7dW12IWEotlBpkpi-9TgEC3GuA/edit#gid=1987812303" target="_blank">Berry Tricking</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/1ptgBvTzxvzNisK1Sh7dW12IWEotlBpkpi-9TgEC3GuA/edit#gid=1831449321" target="_blank">Headbutt Pokémon and Berries</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/1ptgBvTzxvzNisK1Sh7dW12IWEotlBpkpi-9TgEC3GuA/edit#gid=1382023303" target="_blank">Berry Chart</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/1ptgBvTzxvzNisK1Sh7dW12IWEotlBpkpi-9TgEC3GuA/edit#gid=227320235" target="_blank">EV Training Spots</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/1ptgBvTzxvzNisK1Sh7dW12IWEotlBpkpi-9TgEC3GuA/edit#gid=159850266" target="_blank">Lootbox Items</a></li>
    </ul>
</div>
