<pokeoneweb-page-header title="Pokédex" />

<div id="content_main_container">
    <table class="main-table search-table" id="search_table">
        <thead>
            <tr>
                <th colspan="2">Search and filter</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Search</td>
                <td>
                    <div>
                        <input
                            [formField]="filterForm.searchTerm"
                            id="input_search"
                            class="inline text-input"
                            type="text"
                        />
                    </div>
                    <div>
                        <span class="search-option-explanation">
                            Search for Pokémon Name, Pokédex number or Ability name
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Availability</td>
                <td>
                    <div>
                        <ng-select
                            labelForId="input_availability"
                            class="inline"
                            [items]="availabilities()"
                            [formField]="filterForm.availabilities"
                            [multiple]="true"
                            [closeOnSelect]="false"
                            [clearable]="true"
                            placeholder="Any"
                        />
                    </div>
                    <div>
                        <span class="search-option-explanation">
                            Only show Pokémon with the selected availabilities in PokéOne
                        </span>
                    </div>
                    <br />
                    <table id="availability_explanation_table">
                        <tbody>
                            <tr>
                                <td class="availability-obtainable">
                                    <i class="material-icons md-24">check</i>
                                </td>
                                <td>Obtainable</td>
                                <td class="availability-explanation">
                                    The Pokémon can be currently caught or obtained without having
                                    to buy it from someone else.
                                </td>
                            </tr>
                            <tr>
                                <td class="availability-event">
                                    <i class="material-icons md-24">grade</i>
                                </td>
                                <td>Event-exclusive</td>
                                <td class="availability-explanation">
                                    The Pokémon was/is only obtainable during a certain time-limited
                                    event.
                                </td>
                            </tr>
                            <tr>
                                <td class="availability-removed">
                                    <i class="material-icons md-24">delete_forever</i>
                                </td>
                                <td>Removed</td>
                                <td class="availability-explanation">
                                    The Pokémon was once obtainable, but is now no longer obtainable
                                    except by trading.
                                </td>
                            </tr>
                            <tr>
                                <td class="availability-unobtainable">
                                    <i class="material-icons md-24">clear</i>
                                </td>
                                <td>Unobtainable</td>
                                <td class="availability-explanation">
                                    The Pokémon can not be obtained and has never been obtainable
                                    before.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>OU Viability Ranking</td>
                <td>
                    <div>
                        <div>
                            <ng-select
                                labelForId="input_pvpTier"
                                class="inline"
                                [items]="pvpTiers()"
                                [formField]="filterForm.pvpTiers"
                                bindLabel="name"
                                [multiple]="true"
                                [closeOnSelect]="false"
                                [clearable]="true"
                                placeholder="Any"
                            />
                        </div>
                    </div>
                    <div>
                        <span class="search-option-explanation">
                            Rankings created by Kitt & KingTummy on PokeOneCommunity (<a
                                href="https://pokeonecommunity.com/ou-viability-rankings/"
                                target="_blank"
                                >Link</a
                            >)
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Types</td>
                <td>
                    <div>
                        <ng-select
                            labelForId="input_type1"
                            class="inline input-type"
                            [formField]="filterForm.type1"
                            [clearable]="false"
                        >
                            @for (type of primaryTypes(); track type) {
                                <ng-option [value]="type">
                                    <pokeoneweb-type-badge [typeName]="type" />
                                </ng-option>
                            }
                        </ng-select>
                    </div>
                    <div>
                        <ng-select
                            labelForId="input_type2"
                            class="inline input-type"
                            [formField]="filterForm.type2"
                            [clearable]="false"
                        >
                            @for (type of secondaryTypes(); track type) {
                                <ng-option [value]="type">
                                    <pokeoneweb-type-badge [typeName]="type" />
                                </ng-option>
                            }
                        </ng-select>
                    </div>
                    <div>
                        <span class="search-option-explanation">
                            Only show Pokémon that have these types
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Ability</td>
                <td>
                    <div>
                        <ng-select
                            labelForId="input_ability"
                            class="inline"
                            [items]="abilities()"
                            [formField]="filterForm.ability"
                            [clearable]="true"
                            [virtualScroll]="true"
                            placeholder="Any"
                        />
                    </div>
                    <div>
                        <span class="search-option-explanation">
                            Only show Pokémon that can have this ability
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Base stats</td>
                <td>
                    <div>
                        <span class="search-option-explanation"
                            >Only show Pokémon within the given minimum / maximum base stats</span
                        >
                    </div>
                    <br />
                    <div>
                        <table class="stat-input-table">
                            <thead>
                                <tr>
                                    <th colspan="2" class="stat-hp">HP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="stat-input-minmax">Min</td>
                                    <td class="stat-input-minmax">Max</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input
                                            [formField]="filterForm.minHitPoints"
                                            class="stat-input"
                                            type="number"
                                        />
                                    </td>
                                    <td>
                                        <input
                                            [formField]="filterForm.maxHitPoints"
                                            class="stat-input"
                                            type="number"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table class="stat-input-table">
                            <thead>
                                <tr>
                                    <th colspan="2" class="stat-attack">Attack</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="stat-input-minmax">Min</td>
                                    <td class="stat-input-minmax">Max</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input
                                            [formField]="filterForm.minAttack"
                                            class="stat-input"
                                            type="number"
                                        />
                                    </td>
                                    <td>
                                        <input
                                            [formField]="filterForm.maxAttack"
                                            class="stat-input"
                                            type="number"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table class="stat-input-table">
                            <thead>
                                <tr>
                                    <th colspan="2" class="stat-defense">Defense</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="stat-input-minmax">Min</td>
                                    <td class="stat-input-minmax">Max</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input
                                            [formField]="filterForm.minDefense"
                                            class="stat-input"
                                            type="number"
                                        />
                                    </td>
                                    <td>
                                        <input
                                            [formField]="filterForm.maxDefense"
                                            class="stat-input"
                                            type="number"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table class="stat-input-table">
                            <thead>
                                <tr>
                                    <th colspan="2" class="stat-special-attack">Special Attack</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="stat-input-minmax">Min</td>
                                    <td class="stat-input-minmax">Max</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input
                                            [formField]="filterForm.minSpecialAttack"
                                            class="stat-input"
                                            type="number"
                                        />
                                    </td>
                                    <td>
                                        <input
                                            [formField]="filterForm.maxSpecialAttack"
                                            class="stat-input"
                                            type="number"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table class="stat-input-table">
                            <thead>
                                <tr>
                                    <th colspan="2" class="stat-special-defense">
                                        Special Defense
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="stat-input-minmax">Min</td>
                                    <td class="stat-input-minmax">Max</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input
                                            [formField]="filterForm.minSpecialDefense"
                                            class="stat-input"
                                            type="number"
                                        />
                                    </td>
                                    <td>
                                        <input
                                            [formField]="filterForm.maxSpecialDefense"
                                            class="stat-input"
                                            type="number"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table class="stat-input-table">
                            <thead>
                                <tr>
                                    <th colspan="2" class="stat-speed">Speed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="stat-input-minmax">Min</td>
                                    <td class="stat-input-minmax">Max</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input
                                            [formField]="filterForm.minSpeed"
                                            class="stat-input"
                                            type="number"
                                        />
                                    </td>
                                    <td>
                                        <input
                                            [formField]="filterForm.maxSpeed"
                                            class="stat-input"
                                            type="number"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div>
                        <table class="stat-input-table">
                            <thead>
                                <tr>
                                    <th colspan="2" class="stat-total">Total stats</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="stat-input-minmax">Min</td>
                                    <td class="stat-input-minmax">Max</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input
                                            [formField]="filterForm.minTotal"
                                            class="stat-input"
                                            type="number"
                                        />
                                    </td>
                                    <td>
                                        <input
                                            [formField]="filterForm.maxTotal"
                                            class="stat-input"
                                            type="number"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Learnset</td>
                <td>
                    <div>
                        <table>
                            <tbody>
                                <tr>
                                    <td colspan="8">
                                        <span class="search-option-explanation"
                                            >Only show Pokémon which can learn these moves in
                                            PokéOne</span
                                        >
                                    </td>
                                </tr>
                                <tr>
                                    <td>Move</td>
                                    <td>
                                        <ng-select
                                            labelForId="input_move1"
                                            class="input-move"
                                            [items]="moves()"
                                            [formField]="filterForm.move1"
                                            bindLabel="name"
                                            bindValue="resourceName"
                                            [clearable]="true"
                                            [virtualScroll]="true"
                                        />
                                    </td>
                                    <td>and</td>
                                    <td>
                                        <ng-select
                                            labelForId="input_move2"
                                            class="input-move"
                                            [items]="moves()"
                                            [formField]="filterForm.move2"
                                            bindLabel="name"
                                            bindValue="resourceName"
                                            [clearable]="true"
                                            [virtualScroll]="true"
                                        />
                                    </td>
                                    <td>and</td>
                                    <td>
                                        <ng-select
                                            labelForId="input_move3"
                                            class="input-move"
                                            [items]="moves()"
                                            [formField]="filterForm.move3"
                                            bindLabel="name"
                                            bindValue="resourceName"
                                            [clearable]="true"
                                            [virtualScroll]="true"
                                        />
                                    </td>
                                    <td>and</td>
                                    <td>
                                        <ng-select
                                            labelForId="input_move4"
                                            class="input-move"
                                            [items]="moves()"
                                            [formField]="filterForm.move4"
                                            bindLabel="name"
                                            bindValue="resourceName"
                                            [clearable]="true"
                                            [virtualScroll]="true"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Generation</td>
                <td>
                    <div>
                        <ng-select
                            labelForId="input_generation"
                            class="inline"
                            [items]="generations"
                            [formField]="filterForm.generations"
                            bindLabel="name"
                            [multiple]="true"
                            [closeOnSelect]="false"
                            placeholder="Any"
                        />
                    </div>
                    <div>
                        <span class="search-option-explanation">
                            Only show Pokémon which were introduced in the selected generations
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Mega evolutions</td>
                <td>
                    <input
                        [formField]="filterForm.showMegaEvolutions"
                        id="input_show_megas"
                        type="checkbox"
                    />
                    <label for="input_show_megas">Show mega evolutions</label>
                </td>
            </tr>
            <tr>
                <td>Fully evolved</td>
                <td>
                    <input
                        [formField]="filterForm.showFullyEvolvedOnly"
                        id="input_fully_evolved"
                        type="checkbox"
                    />
                    <label for="input_fully_evolved">Only show fully evolved Pokémon</label>
                </td>
            </tr>
        </tbody>
    </table>

    <p class="pokemon-list-title">
        Showing {{ filteredPokemonVarieties().length }} of
        {{ allPokemonVarieties().length }} Pokémon
    </p>

    @if (filteredPokemonVarieties().length > 0) {
        <div class="pokemon-list-container">
            <cdk-virtual-scroll-viewport scrollWindow itemSize="108">
                <table class="main-table sortable rows-clickable" id="pokemon_list">
                    <thead>
                        <tr>
                            <th class="col-availability"></th>
                            <th class="col-number">
                                <div
                                    [class]="
                                        isSortedBy(Column.PokedexNumber, SortDirection.Ascending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.PokedexNumber, SortDirection.Ascending)"
                                    class="table-header-sort"
                                >
                                    ⮝
                                </div>
                                <div class="table-header-label">#</div>
                                <div
                                    [class]="
                                        isSortedBy(Column.PokedexNumber, SortDirection.Descending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.PokedexNumber, SortDirection.Descending)"
                                    class="table-header-sort"
                                >
                                    ⮟
                                </div>
                            </th>
                            <th class="col-sprite"></th>
                            <th class="col-name">
                                <div
                                    [class]="
                                        isSortedBy(Column.Name, SortDirection.Ascending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.Name, SortDirection.Ascending)"
                                    class="table-header-sort"
                                >
                                    ⮝
                                </div>
                                <div class="table-header-label">Name</div>
                                <div
                                    [class]="
                                        isSortedBy(Column.Name, SortDirection.Descending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.Name, SortDirection.Descending)"
                                    class="table-header-sort"
                                >
                                    ⮟
                                </div>
                            </th>
                            <th class="col-type">Type</th>
                            <th class="col-ability">Abilities</th>
                            <th class="col-stat stat-hp">
                                <div
                                    [class]="
                                        isSortedBy(Column.HitPoints, SortDirection.Ascending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.HitPoints, SortDirection.Ascending)"
                                    class="table-header-sort"
                                >
                                    ⮝
                                </div>
                                <div class="table-header-label">HP</div>
                                <div
                                    [class]="
                                        isSortedBy(Column.HitPoints, SortDirection.Descending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.HitPoints, SortDirection.Descending)"
                                    class="table-header-sort"
                                >
                                    ⮟
                                </div>
                            </th>
                            <th class="col-stat stat-attack">
                                <div
                                    [class]="
                                        isSortedBy(Column.Attack, SortDirection.Ascending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.Attack, SortDirection.Ascending)"
                                    class="table-header-sort"
                                >
                                    ⮝
                                </div>
                                <div class="table-header-label">ATK</div>
                                <div
                                    [class]="
                                        isSortedBy(Column.Attack, SortDirection.Descending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.Attack, SortDirection.Descending)"
                                    class="table-header-sort"
                                >
                                    ⮟
                                </div>
                            </th>
                            <th class="col-stat stat-defense">
                                <div
                                    [class]="
                                        isSortedBy(Column.Defense, SortDirection.Ascending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.Defense, SortDirection.Ascending)"
                                    class="table-header-sort"
                                >
                                    ⮝
                                </div>
                                <div class="table-header-label">DEF</div>
                                <div
                                    [class]="
                                        isSortedBy(Column.Defense, SortDirection.Descending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.Defense, SortDirection.Descending)"
                                    class="table-header-sort"
                                >
                                    ⮟
                                </div>
                            </th>
                            <th class="col-stat stat-special-attack">
                                <div
                                    [class]="
                                        isSortedBy(Column.SpecialAttack, SortDirection.Ascending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.SpecialAttack, SortDirection.Ascending)"
                                    class="table-header-sort"
                                >
                                    ⮝
                                </div>
                                <div class="table-header-label">SPA</div>
                                <div
                                    [class]="
                                        isSortedBy(Column.SpecialAttack, SortDirection.Descending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.SpecialAttack, SortDirection.Descending)"
                                    class="table-header-sort"
                                >
                                    ⮟
                                </div>
                            </th>
                            <th class="col-stat stat-special-defense">
                                <div
                                    [class]="
                                        isSortedBy(Column.SpecialDefense, SortDirection.Ascending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.SpecialDefense, SortDirection.Ascending)"
                                    class="table-header-sort"
                                >
                                    ⮝
                                </div>
                                <div class="table-header-label">SPD</div>
                                <div
                                    [class]="
                                        isSortedBy(Column.SpecialDefense, SortDirection.Descending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.SpecialDefense, SortDirection.Descending)"
                                    class="table-header-sort"
                                >
                                    ⮟
                                </div>
                            </th>
                            <th class="col-stat stat-speed">
                                <div
                                    [class]="
                                        isSortedBy(Column.Speed, SortDirection.Ascending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.Speed, SortDirection.Ascending)"
                                    class="table-header-sort"
                                >
                                    ⮝
                                </div>
                                <div class="table-header-label">SPE</div>
                                <div
                                    [class]="
                                        isSortedBy(Column.Speed, SortDirection.Descending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.Speed, SortDirection.Descending)"
                                    class="table-header-sort"
                                >
                                    ⮟
                                </div>
                            </th>
                            <th class="col-stat stat-bulk">
                                <div
                                    [class]="
                                        isSortedBy(Column.Bulk, SortDirection.Ascending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.Bulk, SortDirection.Ascending)"
                                    class="table-header-sort"
                                >
                                    ⮝
                                </div>
                                <div class="has-tooltip">
                                    <div class="table-header-label">Bulk</div>
                                    <span class="tooltip">Bulk = HP + Def. + Sp.D.</span>
                                </div>
                                <div
                                    [class]="
                                        isSortedBy(Column.Bulk, SortDirection.Descending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.Bulk, SortDirection.Descending)"
                                    class="table-header-sort"
                                >
                                    ⮟
                                </div>
                            </th>
                            <th class="col-stat stat-total">
                                <div
                                    [class]="
                                        isSortedBy(Column.StatTotal, SortDirection.Ascending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.StatTotal, SortDirection.Ascending)"
                                    class="table-header-sort"
                                >
                                    ⮝
                                </div>
                                <div class="table-header-label">Total</div>
                                <div
                                    [class]="
                                        isSortedBy(Column.StatTotal, SortDirection.Descending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.StatTotal, SortDirection.Descending)"
                                    class="table-header-sort"
                                >
                                    ⮟
                                </div>
                            </th>
                            <th class="col-pvp-tier">
                                <div
                                    [class]="
                                        isSortedBy(Column.PvpTier, SortDirection.Ascending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.PvpTier, SortDirection.Ascending)"
                                    class="table-header-sort"
                                >
                                    ⮝
                                </div>
                                <div class="table-header-label">PvP</div>
                                <div
                                    [class]="
                                        isSortedBy(Column.PvpTier, SortDirection.Descending)
                                            ? 'sorted'
                                            : 'unsorted'
                                    "
                                    (click)="sort(Column.PvpTier, SortDirection.Descending)"
                                    class="table-header-sort"
                                >
                                    ⮟
                                </div>
                            </th>
                            <th class="col-links">Links</th>
                        </tr>
                    </thead>

                    <tbody #container>
                        <tr
                            *cdkVirtualFor="let pokemon of filteredPokemonVarieties()"
                            (click)="navigateToDetailPage(pokemon.resourceName)"
                        >
                            <td
                                class="col-availability"
                                [class]="getAvailabilityClass(pokemon.availability)"
                            >
                                @switch (pokemon.availability) {
                                    @case ('Obtainable') {
                                        <i class="material-icons md-24">check</i>
                                    }
                                    @case ('Unobtainable') {
                                        <i class="material-icons md-24">clear</i>
                                    }
                                    @case ('Event-exclusive') {
                                        <i class="material-icons md-24">grade</i>
                                    }
                                    @case ('Removed') {
                                        <i class="material-icons md-24">delete_forever</i>
                                    }
                                }
                            </td>
                            <td class="col-number">
                                {{ ('' + pokemon.pokedexNumber).padStart(3, '0') }}
                            </td>
                            <td class="col-sprite">
                                @if (pokemon.spriteName) {
                                    <img
                                        [src]="
                                            './assets/img/sprites/pokemon/medium/' +
                                            pokemon.spriteName
                                        "
                                    />
                                }
                            </td>
                            <td class="col-name">
                                <a [routerLink]="'/' + pokemon.resourceName">{{ pokemon.name }}</a>
                            </td>
                            <td class="col-type">
                                <pokeoneweb-type-badge [typeName]="pokemon.primaryElementalType" />
                                @if (pokemon.secondaryElementalType) {
                                    <pokeoneweb-type-badge
                                        [typeName]="pokemon.secondaryElementalType"
                                    />
                                }
                            </td>
                            <td class="col-ability">
                                <div class="ability-container">
                                    <div class="ability-slot">Primary</div>
                                    @if (pokemon.primaryAbility) {
                                        <div class="ability-name">
                                            {{ pokemon.primaryAbility }}
                                        </div>
                                        <div class="ability-effect-toggle">&gt;</div>
                                        <div class="ability-description">
                                            {{ pokemon.primaryAbilityEffect }}
                                        </div>
                                    } @else {
                                        <div class="ability-none">-</div>
                                    }
                                </div>
                                <div class="ability-container">
                                    <div class="ability-slot">Secondary</div>
                                    @if (pokemon.secondaryAbility) {
                                        <div class="ability-name">
                                            {{ pokemon.secondaryAbility }}
                                        </div>
                                        <div class="ability-effect-toggle">&gt;</div>
                                        <div class="ability-description">
                                            {{ pokemon.secondaryAbilityEffect }}
                                        </div>
                                    } @else {
                                        <div class="ability-none">-</div>
                                    }
                                </div>
                                <div class="ability-container">
                                    <div class="ability-slot">Hidden</div>
                                    @if (pokemon.hiddenAbility) {
                                        <div class="ability-name">
                                            {{ pokemon.hiddenAbility }}
                                        </div>
                                        <div class="ability-effect-toggle">&gt;</div>
                                        <div class="ability-description">
                                            {{ pokemon.hiddenAbilityEffect }}
                                        </div>
                                    } @else {
                                        <div class="ability-none">-</div>
                                    }
                                </div>
                            </td>
                            <td class="col-stat">
                                @if (filter().maxHitPoints > 0) {
                                    <pokeoneweb-vertical-stat-bar
                                        [width]="40"
                                        [height]="104"
                                        label="HP"
                                        [statValue]="pokemon.hitPoints"
                                        [maxValue]="filter().maxHitPoints"
                                    />
                                }
                            </td>
                            <td class="col-stat">
                                @if (filter().maxAttack > 0) {
                                    <pokeoneweb-vertical-stat-bar
                                        [width]="40"
                                        [height]="104"
                                        label="Attack"
                                        [statValue]="pokemon.attack"
                                        [maxValue]="filter().maxAttack"
                                    />
                                }
                            </td>
                            <td class="col-stat">
                                @if (filter().maxDefense > 0) {
                                    <pokeoneweb-vertical-stat-bar
                                        [width]="40"
                                        [height]="104"
                                        label="Def."
                                        [statValue]="pokemon.defense"
                                        [maxValue]="filter().maxDefense"
                                    />
                                }
                            </td>
                            <td class="col-stat">
                                @if (filter().maxSpecialAttack > 0) {
                                    <pokeoneweb-vertical-stat-bar
                                        [width]="40"
                                        [height]="104"
                                        label="Sp. A."
                                        [statValue]="pokemon.specialAttack"
                                        [maxValue]="filter().maxSpecialAttack"
                                    />
                                }
                            </td>
                            <td class="col-stat">
                                @if (filter().maxSpecialDefense > 0) {
                                    <pokeoneweb-vertical-stat-bar
                                        [width]="40"
                                        [height]="104"
                                        label="Sp. D."
                                        [statValue]="pokemon.specialDefense"
                                        [maxValue]="filter().maxSpecialDefense"
                                    />
                                }
                            </td>
                            <td class="col-stat">
                                @if (filter().maxSpeed > 0) {
                                    <pokeoneweb-vertical-stat-bar
                                        [width]="40"
                                        [height]="104"
                                        label="Speed"
                                        [statValue]="pokemon.speed"
                                        [maxValue]="filter().maxSpeed"
                                    />
                                }
                            </td>
                            <td class="col-stat">
                                @if (filter().maxBulk > 0) {
                                    <pokeoneweb-vertical-stat-bar
                                        [width]="40"
                                        [height]="104"
                                        label="Bulk"
                                        [statValue]="pokemon.bulk"
                                        [maxValue]="filter().maxBulk"
                                    />
                                }
                            </td>
                            <td class="col-stat">
                                @if (filter().maxTotal > 0) {
                                    <pokeoneweb-vertical-stat-bar
                                        [width]="40"
                                        [height]="104"
                                        label="Total"
                                        [statValue]="pokemon.statTotal"
                                        [maxValue]="filter().maxTotal"
                                    />
                                }
                            </td>
                            <td class="col-pvp-tier" [class]="getPvpTierClass(pokemon.pvpTier)">
                                {{ pokemon.pvpTier }}
                            </td>
                            <td class="col-links">
                                @for (url of pokemon.urls; track url.name) {
                                    <div
                                        class="favicon-container"
                                        (click)="$event.stopPropagation()"
                                    >
                                        <a [href]="getFullUrl(url)" target="_blank">
                                            <img [src]="getUrlIcon(url)" />
                                        </a>
                                        <div
                                            class="favicon-tooltip"
                                            innerHtml="{{ getUrlDisplayName(url) }}"
                                        >
                                            {{ getUrlDisplayName(url) }}
                                        </div>
                                    </div>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </cdk-virtual-scroll-viewport>
        </div>
    } @else {
        <p class="pokemon-list-empty">No Pokémon to display. Try to adjust your search criteria.</p>
    }
</div>
