<div id="content_title_container">
    <div id="content_title">
        {{model.pokemon ? model.pokemon.name : model.pokemonName}}
    </div>
</div>

<div id="content_main_container">
    <div *ngIf="!model.pokemon">Loading...</div>
    <div *ngIf="model.pokemon">
        <div class="pokemon-detail-navigation">
            <a [routerLink]="'/'+ model.pokemon.previousPokemonResourceName">
                <div class="pokemon-detail-navigation-left">
                    <div class="pokemon-detail-navigation-link">⮜ {{model.pokemon.previousPokemonName}}</div>
                    <div class="pokemon-detail-navigation-sprite">
                        <img *ngIf="model.pokemon.previousPokemonSpriteName" [src]="'./assets/img/sprites/pokemon/small/' + model.pokemon.previousPokemonSpriteName" />
                    </div>
                </div>
            </a>
            <a [routerLink]="'/p'">
                <div class="pokemon-detail-navigation-center">
                    <div class="pokemon-detail-navigation-sprite">
                        <img src="./assets/img/navbar/pokedex.png" />
                    </div>
                    <div class="pokemon-detail-navigation-link">Pokémon List</div>
                    <div class="pokemon-detail-navigation-sprite">
                        <img src="./assets/img/navbar/pokedex.png" />
                    </div>
                </div>
            </a>
            <a [routerLink]="'/'+ model.pokemon.nextPokemonResourceName">
                <div class="pokemon-detail-navigation-right">
                    <div class="pokemon-detail-navigation-sprite">
                        <img *ngIf="model.pokemon.nextPokemonSpriteName" [src]="'./assets/img/sprites/pokemon/small/' + model.pokemon.nextPokemonSpriteName" />
                    </div>
                    <div class="pokemon-detail-navigation-link">{{model.pokemon.nextPokemonName}} ⮞</div>
                </div>
            </a>
        </div>

        <h2 name="general">General Info</h2>
        <div class="no-table-container-outer">
            <div class="no-table-container-inner general-info-container">
                <div class="general-panel general-pokedexnumber-container">
                    <h4>No.</h4>
                    <div class="general-pokedexnumber">#{{model.pokemon.pokedexNumber}}</div>
                    <div class="general-generation">Generation {{model.pokemon.generation}}</div>
                </div>

                <div class="general-panel general-sprite-container">
                    <h4>Sprites</h4>
                    <div class="sprites-container">
                        <div>
                            <div *ngIf="model.pokemon.spriteName" class="sprite-container">
                                <img [src]="'./assets/img/sprites/pokemon/medium/' + model.pokemon.spriteName" />
                            </div>
                            <div class="sprite-label">Regular</div>
                        </div>
                        <div>
                            <div *ngIf="model.pokemon.spriteName" class="sprite-container">
                                <img [src]="'./assets/img/sprites/pokemon/medium-shiny/' + model.pokemon.spriteName" />
                            </div>
                            <div class="sprite-label">Shiny</div>
                        </div>
                    </div>
                </div>

                <div class="general-panel general-type-container">
                    <h4>Type</h4>
                    <pokeone-type-badge
                        [typeName]="model.pokemon.primaryElementalType">
                    </pokeone-type-badge>
                    <pokeone-type-badge
                        *ngIf="model.pokemon.secondaryElementalType"
                        [typeName]="model.pokemon.secondaryElementalType">
                    </pokeone-type-badge>
                </div>

                <div class="general-panel general-availability-container">
                    <h4>Availability</h4>
                    <div class="availability-name">
                        <div class="availability-icon-container" [ngClass]="getAvailabilityClass(model.pokemon.availability)">
                            <i *ngIf="model.pokemon.availability==='Obtainable'" class="material-icons md-24">check</i>
                            <i *ngIf="model.pokemon.availability==='Unobtainable'" class="material-icons md-24">clear</i>
                            <i *ngIf="model.pokemon.availability==='Event-exclusive'" class="material-icons md-24">grade</i>
                            <i *ngIf="model.pokemon.availability==='Removed'" class="material-icons md-24">delete_forever</i>
                        </div>
                        <div class="availability-name-container">
                            {{model.pokemon.availability}}
                        </div>
                    </div>
                    <div class="availability-description">
                        {{model.pokemon.availabilityDescription}}
                    </div>
                </div>

                <div class="general-panel general-pvp-tier">
                    <h4>PVP Tier</h4>
                    <div class="pvp-tier-name">{{model.pokemon.pvpTier}}</div>
                    <div class="pvp-tier-credit">
                        Rankings created by DSK and Cutebun on PokeoneCommunity
                        (<a href="https://www.pokeonecommunity.com/index.php?mod=articles&action=view&id=75" target="_blank">Link</a>)
                    </div>
                </div>

                <div class="general-panel general-evyields">
                    <h4>EV Yields</h4>
                    <table>
                        <tbody>
                            <tr *ngIf="model.pokemon.hitPointsEv > 0">
                                <td>Hit Points</td>
                                <td>{{model.pokemon.hitPointsEv}}</td>
                            </tr>
                            <tr *ngIf="model.pokemon.attackEv > 0">
                                <td>Attack</td>
                                <td>{{model.pokemon.attackEv}}</td>
                            </tr>
                            <tr *ngIf="model.pokemon.defenseEv > 0">
                                <td>Defense</td>
                                <td>{{model.pokemon.defenseEv}}</td>
                            </tr>
                            <tr *ngIf="model.pokemon.specialAttackEv > 0">
                                <td>Special Attack</td>
                                <td>{{model.pokemon.specialAttackEv}}</td>
                            </tr>
                            <tr *ngIf="model.pokemon.specialDefenseEv > 0">
                                <td>Special Defense</td>
                                <td>{{model.pokemon.specialDefenseEv}}</td>
                            </tr>
                            <tr *ngIf="model.pokemon.speedEv > 0">
                                <td>Speed</td>
                                <td>{{model.pokemon.speedEv}}</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>{{model.pokemon.hitPointsEv + model.pokemon.attackEv + model.pokemon.defenseEv + model.pokemon.specialAttackEv + model.pokemon.specialDefenseEv + model.pokemon.speedEv}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="general-panel general-catching">
                    <h4>Catching</h4>
                    <div class="catch-rate">
                        <div>Catch Rate</div>
                        <div>{{model.pokemon.catchRate}}</div>
                    </div>
                    <div class="catch-config">
                        <div>
                            <img src="./assets/img/sprites/items/small/poke-ball.png" />
                            <div class="hp-bar">
                                <div class="hp-bar-label">HP</div>
                                <svg width="100" height="20" viewBox="0 0 100 20">
                                    <rect class="hp-bar-100" x="0" y="0" width="100" height="20"></rect>
                                </svg>
                            </div>
                            <div class="status-badge"></div>
                        </div>
                        <div class="catch-probability">{{getCatchRate(1, 100, '') | number:'1.2-2'}}%</div>
                    </div>

                    <div class="catch-config">
                        <div>
                            <img src="./assets/img/sprites/items/small/poke-ball.png" />
                            <div class="hp-bar">
                                <div class="hp-bar-label">HP</div>
                                <svg width="100" height="20" viewBox="0 0 100 20">
                                    <rect class="hp-bar-1" x="0" y="0" width="5" height="20"></rect>
                                </svg>
                            </div>
                            <div class="status-badge"></div>
                        </div>
                        <div class="catch-probability">{{getCatchRate(1, 1, '') | number:'1.2-2'}}%</div>
                    </div>

                    <div class="catch-config">
                        <div>
                            <img src="./assets/img/sprites/items/small/poke-ball.png" />
                            <div class="hp-bar">
                                <div class="hp-bar-label">HP</div>
                                <svg width="100" height="20" viewBox="0 0 100 20">
                                    <rect class="hp-bar-1" x="0" y="0" width="5" height="20"></rect>
                                </svg>
                            </div>
                            <div class="status-badge">SLP</div>
                        </div>
                        <div class="catch-probability">{{getCatchRate(1, 1, 'SLP') | number:'1.2-2'}}%</div>
                    </div>

                    <div class="catch-config">
                        <div>
                            <img src="./assets/img/sprites/items/small/ultra-ball.png" />
                            <div class="hp-bar">
                                <div class="hp-bar-label">HP</div>
                                <svg width="100" height="20" viewBox="0 0 100 20">
                                    <rect class="hp-bar-1" x="0" y="0" width="5" height="20"></rect>
                                </svg>
                            </div>
                            <div class="status-badge">SLP</div>
                        </div>
                        <div class="catch-probability">{{getCatchRate(2, 1, 'SLP') | number:'1.2-2'}}%</div>
                    </div>

                    <div class="catch-config">
                        <div>
                            <img src="./assets/img/sprites/items/small/level-ball.png" />
                            <div class="hp-bar">
                                <div class="hp-bar-label">HP</div>
                                <svg width="100" height="20" viewBox="0 0 100 20">
                                    <rect class="hp-bar-1" x="0" y="0" width="5" height="20"></rect>
                                </svg>
                            </div>
                            <div class="status-badge">SLP</div>
                        </div>
                        <div class="catch-probability">{{getCatchRate(8, 1, 'SLP') | number:'1.2-2'}}%</div>
                    </div>
                </div>

                <div class="general-panel general-egg-hatching">
                    <h4>Egg hatching</h4>
                    <table>
                        <tbody>
                            <tr>
                                <td>Egg cycles</td>
                                <td>{{model.pokemon.eggCycles}}</td>
                            </tr>
                            <tr>
                                <td>Steps</td>
                                <td>{{getEggSteps()}}</td>
                            </tr>
                            <tr>
                                <td>Hatch time (mounted)</td>
                                <td>{{getEggHatchingTime()}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="flame-body">
                        Steps / hatch time are halved, if a Pokémon with Flame Body or Magma Armor is in the party.
                    </div>
                </div>

                <div class="general-panel general-genderratio">
                    <h4>Gender Ratio</h4>
                    <svg viewBox="0 0 100 10">
                        <rect *ngIf="model.pokemon.hasGender" class="genderratio-bar-male" x="0" y="0" [attr.width]="model.pokemon.maleRatio" height="20"></rect>
                        <rect *ngIf="model.pokemon.hasGender" class="genderratio-bar-female" [attr.x]="model.pokemon.maleRatio" y="0" [attr.width]="model.pokemon.femaleRatio" height="20"></rect>
                        <rect *ngIf="!model.pokemon.hasGender" class="genderratio-bar-ungendered" x="0" y="0" width="100" height="20"></rect>
                    </svg>
                    <div class="gender-male-female">
                        <div class="gender-male">
                            <div *ngIf="model.pokemon.hasGender">{{model.pokemon.maleRatio}}%</div>
                            <div>Male</div>
                        </div>
                        <div class="gender-female">
                            <div *ngIf="model.pokemon.hasGender">{{model.pokemon.femaleRatio}}%</div>
                            <div>Female</div>
                        </div>
                    </div>
                    <div class="gender-ungendered" *ngIf="!model.pokemon.hasGender">
                        Pokémon has no gender.
                    </div>
                </div>

                <div class="general-panel general-miscellaneous">
                    <h4>Miscellanous</h4>
                    <div class="misc-row">
                        <div>Exp. yield</div>
                        <div>{{model.pokemon.expYield}}</div>
                    </div>
                    <div class="misc-row">
                        <div>Height</div>
                        <div>{{model.pokemon.height}} m</div>
                    </div>
                    <div class="misc-row">
                        <div>Weight</div>
                        <div>{{model.pokemon.weight}} kg</div>
                    </div>
                </div>

                <div class="general-panel general-urls">
                    <h4>Links</h4>
                    <div *ngFor="let url of model.pokemon.urls">
                        <a [href]="getFullUrl(url)" target="_blank">
                            <img [src]="getUrlIcon(url)" />
                            <div innerHtml={{getUrlDisplayName(url)}}>
                                {{getUrlDisplayName(url)}}
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <h2 name="stats">Stats</h2>
        <div class="no-table-container-outer">
            <div class="no-table-container-inner">
                <pokeone-advanced-stat-chart
                    [pokemon]="model.pokemon"> 
                </pokeone-advanced-stat-chart>
            </div>
        </div>

        <h2 name="effective">Type defense</h2>
        <table class="main-table" id="type_defense_table">
            <thead>
                <tr>
                    <th><p>4x</p><p class="type-defense-th-subtitle">damage taken</p></th>
                    <th><p>2x</p><p class="type-defense-th-subtitle">damage taken</p></th>
                    <th><p>1x</p><p class="type-defense-th-subtitle">damage taken</p></th>
                    <th><p>0.5x</p><p class="type-defense-th-subtitle">damage taken</p></th>
                    <th><p>0.25x</p><p class="type-defense-th-subtitle">damage taken</p></th>
                    <th><p>0x</p><p class="type-defense-th-subtitle">damage taken</p></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <pokeone-type-badge 
                            *ngFor="let type of getDefenseEffectivities(4)" 
                            [typeName]="type.typeName">
                        </pokeone-type-badge>
                    </td>
                    <td>
                        <pokeone-type-badge 
                            *ngFor="let type of getDefenseEffectivities(2)" 
                            [typeName]="type.typeName">
                        </pokeone-type-badge>
                    </td>
                    <td>
                        <pokeone-type-badge 
                            *ngFor="let type of getDefenseEffectivities(1)" 
                            [typeName]="type.typeName">
                        </pokeone-type-badge>
                    </td>
                    <td>
                        <pokeone-type-badge 
                            *ngFor="let type of getDefenseEffectivities(0.5)" 
                            [typeName]="type.typeName">
                        </pokeone-type-badge>
                    </td>
                    <td>
                        <pokeone-type-badge 
                            *ngFor="let type of getDefenseEffectivities(0.25)" 
                            [typeName]="type.typeName">
                        </pokeone-type-badge>
                    </td>
                    <td>
                        <pokeone-type-badge 
                            *ngFor="let type of getDefenseEffectivities(0)" 
                            [typeName]="type.typeName">
                        </pokeone-type-badge>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <h2 name="evolution">Evolution</h2>
        <div class="no-table-container-outer">
            <div class="no-table-container-inner">
                <pokeone-evolution-chart 
                    *ngIf="model.pokemon.evolutions.length > 0"
                    [evolutions]="model.pokemon.evolutions">
                </pokeone-evolution-chart>
                <p *ngIf="model.pokemon.evolutions.length === 0"
                    class="empty">
                    This Pokémon does not evolve
                </p>
            </div>
        </div>

        <h2 name="abilities">Abilities</h2>
        <table class="main-table" id="ability_table">
            <thead>
                <tr>
                    <th class="col-ability-slot">Slot</th>
                    <th class="col-ability-name">Name</th>
                    <th class="col-ability-effect">Effect</th>
                    <th *ngIf="model.pokemon.evolutions.length > 0" class="col-ability-evolutions">On other evolutions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-ability-slot">
                        Primary
                    </td>
                    <td class="col-ability-name">
                        {{model.pokemon.primaryAbility}}
                    </td>
                    <td class="col-ability-effect">
                        <p>{{model.pokemon.primaryAbilityEffect}}</p>
                    </td>
                    <td *ngIf="model.pokemon.evolutions.length > 0" class="col-ability-evolutions">
                        <table class="evolution-ability-table">
                            <tbody>
                                <tr *ngFor="let evolutionAbility of getPreEvolutionAbilities(model.pokemon.primaryEvolutionAbilities)">
                                    <td class="col-evolution-ability-sprite">
                                        <img *ngIf="evolutionAbility.spriteName" [src]="'./assets/img/sprites/pokemon/small/' + evolutionAbility.spriteName" />
                                    </td>
                                    <td class="col-evolution-ability-pokemon">
                                        <a [routerLink]="'/'+ evolutionAbility.pokemonResourceName">{{evolutionAbility.pokemonName}}</a>
                                    </td>
                                    <td class="col-evolution-ability-ability">
                                        {{evolutionAbility.abilityName}}
                                    </td>
                                </tr>
                                <tr *ngFor="let evolutionAbility of getPostEvolutionAbilities(model.pokemon.primaryEvolutionAbilities)">
                                    <td class="col-evolution-ability-sprite">
                                        <img *ngIf="evolutionAbility.spriteName" [src]="'./assets/img/sprites/pokemon/small/' + evolutionAbility.spriteName" />
                                    </td>
                                    <td class="col-evolution-ability-pokemon">
                                        <a [routerLink]="'/'+ evolutionAbility.pokemonResourceName">{{evolutionAbility.pokemonName}}</a>
                                    </td>
                                    <td class="col-evolution-ability-ability">
                                        {{evolutionAbility.abilityName}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="col-ability-slot">
                        Secondary
                    </td>
                    <td class="col-ability-name">
                        {{model.pokemon.secondaryAbility ? model.pokemon.secondaryAbility : "-"}}
                    </td>
                    <td class="col-ability-effect">
                        <p>{{model.pokemon.secondaryAbilityEffect}}</p>
                    </td>
                    <td *ngIf="model.pokemon.evolutions.length > 0" class="col-ability-evolutions">
                        <table class="evolution-ability-table">
                            <tbody>
                                <tr *ngFor="let evolutionAbility of getPreEvolutionAbilities(model.pokemon.secondaryEvolutionAbilities)">
                                    <td class="col-evolution-ability-sprite">
                                        <img *ngIf="evolutionAbility.spriteName" [src]="'./assets/img/sprites/pokemon/small/' + evolutionAbility.spriteName" />
                                    </td>
                                    <td class="col-evolution-ability-pokemon">
                                        <a [routerLink]="'/'+ evolutionAbility.pokemonResourceName">{{evolutionAbility.pokemonName}}</a>
                                    </td>
                                    <td class="col-evolution-ability-ability">
                                        {{evolutionAbility.abilityName}}
                                    </td>
                                </tr>
                                <tr *ngFor="let evolutionAbility of getPostEvolutionAbilities(model.pokemon.secondaryEvolutionAbilities)">
                                    <td class="col-evolution-ability-sprite">
                                        <img *ngIf="evolutionAbility.spriteName" [src]="'./assets/img/sprites/pokemon/small/' + evolutionAbility.spriteName" />
                                    </td>
                                    <td class="col-evolution-ability-pokemon">
                                        <a [routerLink]="'/'+ evolutionAbility.pokemonResourceName">{{evolutionAbility.pokemonName}}</a>
                                    </td>
                                    <td class="col-evolution-ability-ability">
                                        {{evolutionAbility.abilityName}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="col-ability-slot">
                        Hidden
                    </td>
                    <td class="col-ability-name">
                        {{model.pokemon.hiddenAbility ? model.pokemon.hiddenAbility : "-"}}
                    </td>
                    <td class="col-ability-effect">
                        <p>{{model.pokemon.hiddenAbilityEffect}}</p>
                    </td>
                    <td *ngIf="model.pokemon.evolutions.length > 0" class="col-ability-evolutions">
                        <table class="evolution-ability-table">
                            <tbody>
                                <tr *ngFor="let evolutionAbility of getPreEvolutionAbilities(model.pokemon.hiddenEvolutionAbilities)">
                                    <td class="col-evolution-ability-sprite">
                                        <img *ngIf="evolutionAbility.spriteName" [src]="'./assets/img/sprites/pokemon/small/' + evolutionAbility.spriteName" />
                                    </td>
                                    <td class="col-evolution-ability-pokemon">
                                        <a [routerLink]="'/'+ evolutionAbility.pokemonResourceName">{{evolutionAbility.pokemonName}}</a>
                                    </td>
                                    <td class="col-evolution-ability-ability">
                                        {{evolutionAbility.abilityName}}
                                    </td>
                                </tr>
                                <tr *ngFor="let evolutionAbility of getPostEvolutionAbilities(model.pokemon.hiddenEvolutionAbilities)">
                                    <td class="col-evolution-ability-sprite">
                                        <img *ngIf="evolutionAbility.spriteName" [src]="'./assets/img/sprites/pokemon/small/' + evolutionAbility.spriteName" />
                                    </td>
                                    <td class="col-evolution-ability-pokemon">
                                        <a [routerLink]="'/'+ evolutionAbility.pokemonResourceName">{{evolutionAbility.pokemonName}}</a>
                                    </td>
                                    <td class="col-evolution-ability-ability">
                                        {{evolutionAbility.abilityName}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2 name="spawns">Spawns</h2>
        <div *ngIf="model.pokemon.spawns.length === 0" class="no-table-container-outer">
            <div class="no-table-container-inner">
                <p
                    class="empty">
                    This Pokémon does not have any known spawns in PokéOne.
                </p>
            </div>
        </div>
        <table *ngIf="model.pokemon.spawns.length > 0" class="main-table table-compact" id="spawn_table">
            <thead>
                <tr>
                    <th class="col-pokemon" colspan="2">
                        <div 
                            [ngClass]="getSpawnSortButtonClass(spawnsColumn.Pokemon, 1)" 
                            (click)="sortSpawns(spawnsColumn.Pokemon, 1)"
                            class="table-header-sort">⮝</div>
                        <div class="table-header-label">Pokemon</div>
                        <div 
                            [ngClass]="getSpawnSortButtonClass(spawnsColumn.Pokemon, -1)" 
                            (click)="sortSpawns(spawnsColumn.Pokemon, -1)"
                            class="table-header-sort">⮟</div>
                    </th>
                    <th class="col-location" colspan="2">
                        <div 
                            [ngClass]="getSpawnSortButtonClass(spawnsColumn.Location, 1)" 
                            (click)="sortSpawns(spawnsColumn.Location, 1)"
                            class="table-header-sort">⮝</div>
                        <div class="table-header-label">Location</div>
                        <div 
                            [ngClass]="getSpawnSortButtonClass(spawnsColumn.Location, -1)" 
                            (click)="sortSpawns(spawnsColumn.Location, -1)"
                            class="table-header-sort">⮟</div>
                    </th>
                    <th class="col-method">
                        <div 
                            [ngClass]="getSpawnSortButtonClass(spawnsColumn.SpawnType, 1)" 
                            (click)="sortSpawns(spawnsColumn.SpawnType, 1)"
                            class="table-header-sort">⮝</div>
                        <div class="table-header-label">Method</div>
                        <div 
                            [ngClass]="getSpawnSortButtonClass(spawnsColumn.SpawnType, -1)" 
                            (click)="sortSpawns(spawnsColumn.SpawnType, -1)"
                            class="table-header-sort">⮟</div>
                    </th>
                    <th class="col-season">Season</th>
                    <th class="col-time">Time</th>
                    <th class="col-rarity">
                        <div 
                            [ngClass]="getSpawnSortButtonClass(spawnsColumn.Rarity, 1)" 
                            (click)="sortSpawns(spawnsColumn.Rarity, 1)"
                            class="table-header-sort">⮝</div>
                        <div class="table-header-label">Rarity</div>
                        <div 
                            [ngClass]="getSpawnSortButtonClass(spawnsColumn.Rarity, -1)" 
                            (click)="sortSpawns(spawnsColumn.Rarity, -1)"
                            class="table-header-sort">⮟</div>
                    </th>
                    <th class="col-syncable">
                        <div class="has-tooltip">
                            <img src="./assets/img/sprites/pokemon/small/63.png" />
                            <span class="tooltip">Synchronize possible?</span>
                        </div>
                        
                    </th>
                    <th class="col-event">
                        <div class="has-tooltip">
                            <i class="material-icons md-24">date_range</i>
                            <span class="tooltip">Event-exclusive spawn</span>
                        </div>
                    </th>
                    <th class="col-notes">Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let spawn of model.pokemon.spawns">
                    <td class="col-sprite">
                        <a [routerLink]="'/' + spawn.pokemonResourceName">
                            <img *ngIf="spawn.spriteName" [src]="'./assets/img/sprites/pokemon/small/' + spawn.spriteName" />
                        </a>
                    </td>
                    <td class="col-pokemon">
                        <a [routerLink]="'/'+ spawn.pokemonResourceName">{{spawn.pokemonName}}</a>
                    </td>
                    <td class="col-region" [style]="'background-color: ' + spawn.regionColor">
                        {{spawn.regionName}}
                    </td>
                    <td class="col-location">
                        <a [routerLink]="'/'+ spawn.locationResourceName">{{spawn.locationName}}</a>
                    </td>
                    <td class="col-method" [style]="'background-color: ' + spawn.spawnTypeColor">
                        {{spawn.spawnType}}
                    </td>
                    <td class="col-season">
                        <pokeone-season-badge [seasons]="spawn.seasons"></pokeone-season-badge>
                    </td>
                    <td class="col-time">
                        <pokeone-time-badge [times]="spawn.timesOfDay"></pokeone-time-badge>
                    </td>
                    <td class="col-rarity">
                        {{spawn.rarityString}}
                    </td>
                    <td class="col-syncable" [ngClass]="
                    {
                        'sync-true': spawn.isSyncable,
                        'sync-false': !spawn.isSyncable
                    }">
                        <i *ngIf="spawn.isSyncable" class="material-icons md-24">check</i>
                        <i *ngIf="!spawn.isSyncable" class="material-icons md-24">clear</i>
                    </td>
                    <td class="col-event" [ngClass]="{ 'availability-event': spawn.isEvent }">
                        <div *ngIf="spawn.isEvent" class="has-tooltip">
                            <i class="material-icons md-24">grade</i>
                            <span class="tooltip">{{spawn.eventName}}<br />({{spawn.eventStartDate}} - {{spawn.eventEndDate}})</span>
                        </div>
                        
                    </td>
                    <td class="col-notes">
                        {{spawn.notes}}
                    </td>
                </tr>
            </tbody>
        </table>

        <h2 name="moves">Learnset</h2>
        <div *ngIf="model.learnableMoves.length === 0" class="no-table-container-outer">
            <div class="no-table-container-inner">
                <p
                    class="empty">
                    This Pokémon does not have any known learnable moves in PokéOne.
                </p>
            </div>
        </div>
        <table *ngIf="model.learnableMoves.length > 0" class="main-table table-compact" id="learnset_table">
            <thead>
                <tr>
                    <th class="col-move-name">
                        <div 
                            [ngClass]="getMoveSortButtonClass(movesColumn.Name, 1)" 
                            (click)="sortMoves(movesColumn.Name, 1)"
                            class="table-header-sort">⮝</div>
                        <div class="table-header-label">Name</div>
                        <div 
                            [ngClass]="getMoveSortButtonClass(movesColumn.Name, -1)" 
                            (click)="sortMoves(movesColumn.Name, -1)"
                            class="table-header-sort">⮟</div>
                    </th>
                    <th class="col-move-type">
                        <div 
                            [ngClass]="getMoveSortButtonClass(movesColumn.Type, 1)" 
                            (click)="sortMoves(movesColumn.Type, 1)"
                            class="table-header-sort">⮝</div>
                        <div class="table-header-label">Type</div>
                        <div 
                            [ngClass]="getMoveSortButtonClass(movesColumn.Type, -1)" 
                            (click)="sortMoves(movesColumn.Type, -1)"
                            class="table-header-sort">⮟</div>
                    </th>
                    <th class="col-move-class">
                        <div 
                            [ngClass]="getMoveSortButtonClass(movesColumn.Class, 1)" 
                            (click)="sortMoves(movesColumn.Class, 1)"
                            class="table-header-sort">⮝</div>
                        <div class="table-header-label">Cat.</div>
                        <div 
                            [ngClass]="getMoveSortButtonClass(movesColumn.Class, -1)" 
                            (click)="sortMoves(movesColumn.Class, -1)"
                            class="table-header-sort">⮟</div>
                    </th>
                    <th class="col-power">
                        <div 
                            [ngClass]="getMoveSortButtonClass(movesColumn.Power, 1)" 
                            (click)="sortMoves(movesColumn.Power, 1)"
                            class="table-header-sort">⮝</div>
                        <div class="table-header-label">Pow.</div>
                        <div 
                            [ngClass]="getMoveSortButtonClass(movesColumn.Power, -1)" 
                            (click)="sortMoves(movesColumn.Power, -1)"
                            class="table-header-sort">⮟</div>
                    </th>
                    <th class="col-accuracy">
                        <div 
                            [ngClass]="getMoveSortButtonClass(movesColumn.Accuracy, 1)" 
                            (click)="sortMoves(movesColumn.Accuracy, 1)"
                            class="table-header-sort">⮝</div>
                        <div class="table-header-label">Acc.</div>
                        <div 
                            [ngClass]="getMoveSortButtonClass(movesColumn.Accuracy, -1)" 
                            (click)="sortMoves(movesColumn.Accuracy, -1)"
                            class="table-header-sort">⮟</div>
                    </th>
                    <th class="col-power-points">
                        <div 
                            [ngClass]="getMoveSortButtonClass(movesColumn.PowerPoints, 1)" 
                            (click)="sortMoves(movesColumn.PowerPoints, 1)"
                            class="table-header-sort">⮝</div>
                        <div class="table-header-label">PP</div>
                        <div 
                            [ngClass]="getMoveSortButtonClass(movesColumn.PowerPoints, -1)" 
                            (click)="sortMoves(movesColumn.PowerPoints, -1)"
                            class="table-header-sort">⮟</div>
                    </th>
                    <th class="col-priority">
                        <div 
                            [ngClass]="getMoveSortButtonClass(movesColumn.Priority, 1)" 
                            (click)="sortMoves(movesColumn.Priority, 1)"
                            class="table-header-sort">⮝</div>
                        <div class="table-header-label">Prio</div>
                        <div 
                            [ngClass]="getMoveSortButtonClass(movesColumn.Priority, -1)" 
                            (click)="sortMoves(movesColumn.Priority, -1)"
                            class="table-header-sort">⮟</div>
                    </th>
                    <th class="col-move-effect">Effect</th>
                    <th class="col-move-learn-methods">Learn methods</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let move of model.learnableMoves; let i = index" [ngClass]="{'learnmethod-unavailable': !move.isAvailable}">
                    <td class="col-move-name">
                        {{move.moveName}}<br>
                        <span *ngIf="!move.isAvailable" class="unobtainable-move">(Unobtainable)</span>
                    </td>
                    <td class="col-move-type">
                        <pokeone-type-badge [typeName]="move.elementalType"></pokeone-type-badge>
                    </td>
                    <td class="col-move-class">
                        <pokeone-type-badge [typeName]="move.damageClass"></pokeone-type-badge>
                    </td>
                    <td [style]="move.effectiveAttackPower !== 0 ? 
                        'background-color: hsl(' + getHueForMoveStrength(move.effectiveAttackPower) + ',100%,70%); color: black;' : ''" 
                        class="col-power"
                        [ngClass]="{'stab-power': move.hasStab}">
                        <p>{{move.baseAttackPower !== 0 ? move.baseAttackPower : '-'}}</p>
                        <p *ngIf="move.hasStab && move.effectiveAttackPower > 0" class="stab">{{move.effectiveAttackPower}}</p>
                        <p *ngIf="move.hasStab && move.effectiveAttackPower > 0" class="stab stab-label">(STAB)</p>
                    </td>
                    <td [style]="'background-color: hsl(' + getHueForAccuracy(move.accuracy) + ',100%,70%); color: black;'" 
                        class="col-accuracy">
                        {{move.accuracy}}
                    </td>
                    <td [style]="'background-color: hsl(' + getHueForPowerPoints(move.powerPoints) + ',100%,70%); color: black;'" 
                        class="col-power-points">
                        {{move.powerPoints}}
                    </td>
                    <td class="col-priority">
                        {{move.priority}}
                    </td>
                    <td class="col-move-effect" (mouseover)="hoverMoveDescription(i)" (mouseout)="hoverMoveDescription(-1)">
                        <div *ngIf="i !== model.moveHoverIndex">
                            {{getAbbreviatedMoveDescription(move)}}
                        </div>
                        <div *ngIf="i === model.moveHoverIndex">
                            {{move.effectDescription}}
                        </div>
                    </td>
                    <td class="col-move-learn-methods">
                        <div *ngFor="let learnMethod of move.learnMethods">
                            <div 
                                *ngIf="learnMethod.isAvailable" 
                                [ngClass]="{'has-tooltip': learnMethod.description}" 
                                class="learnmethod-available nobr">
                                <p><i class="material-icons">check</i>{{learnMethod.learnMethodName}}</p>
                                <span *ngIf="learnMethod.description" class="tooltip">
                                    {{learnMethod.description}}
                                </span>
                            </div>
                            <div *ngIf="!learnMethod.isAvailable" class="learnmethod-unavailable nobr">
                                <p><i class="material-icons ">clear</i>{{learnMethod.learnMethodName}}</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
