text.stat-bar-caption {
    font-family: 'Roboto', sans-serif;
    text-anchor: middle;
}

text.stat-bar-label {
    font-family: 'Roboto', sans-serif;
    text-anchor: middle;
    fill: #A6A6A6;
    font-weight: 300;
    font-size: 14px;
}